$font-family: "Inter", sans-serif;

$primary-color: #12161f;
$primary-color-light: #3c535b;
$accent-color: #6d7c42;

$screen-width-s: 575px;
$screen-width-m: 767px;
$screen-width-l: 991px;
$screen-width-xl: 1199px;
$screen-width-xxl: 1399px;
